Source: kodiutilities
Priority: extra
Maintainer: Arne Morten Kvarving <arne.morten.kvarving@sintef.no>
Build-Depends: debhelper (>= 8.0.0), cmake, libtinyxml-dev, xbmc-addon-dev
Standards-Version: 3.9.2
Section: libs

Package: libkodiutilities-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libkodiutilities14 (= ${binary:Version}), libtinyxml-dev
Provides: libkodiutilities-dev
Description: Kodi utilities library -- development files
 Kodi utilities library

Package: libkodiutilities14
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libkodiutilities
Description: Kodi utilities library
 Kodi utilities library
